<div class="h1-title-wrapper">
    <div class="h1-title-area">
        <h1 class="h1-title"><span class="h1-title-white">HACCP参加登録フォーム</span></h1>
    </div>
</div>

<!-- 処理段階 -->
<h3 class="process">受付完了</h3>

<h4 class="process">お申し込み誠にありがとうございます！</h4>